@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.subtitulo{
    font-size: 18px;
    font-weight: 500;
    color: #999999;
    margin: 12px;
}
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
.sliderbar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: black;
    padding: 6px 14px;
    transition: all 0.5s ease;
}
.sliderbar.active{
    width: 240px;
}

.sliderbar .logo_content .logo_administrator{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}
.sliderbar.active .logo_content .logo_administrator{
    opacity: 1;
}

.logo_content .logo_administrator i{
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo_administrator .logo_name{
    font-size: 20px;
    font-weight: 400;
}

.sliderbar #btn{
    position: absolute;
    color:  #fff;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}
.sliderbar.active #btn{
    left: 90%;
}
.sliderbar ul{
    margin-top: 20px;
}

.sliderbar ul li{
    position: relative;
    list-style: none;
    height: 50px;
    width: 100%;
    margin: 0px 5px;
    line-height: 50px;
}
.sliderbar ul li .tooltip{
    position: absolute;
    left: 122px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}
.sliderbar.active ul li .tooltip{
    display: none;
}
.sliderbar ul li:hover .tooltip{
    top: 50%;
    transition: all 0.5s ease;
    opacity: 1;
}

.sliderbar ul li input{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #1d1b31;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
}
.sliderbar ul li .bx-search{
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 22px;
    transition: all 0.5s ease;
}
.sliderbar ul li .bx-search:hover{
    background: #fff;
    color: #1d1b31;
}

.sliderbar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sliderbar ul li a:hover{
    color: #11101d;
    background: #fff;
}

.sliderbar ul li i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}
.sliderbar .links_name{
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}
.sliderbar.active .links_name{
    opacity: 1;
    pointer-events: auto;
}
.sliderbar .profile_content{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}
.sliderbar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: none;
    transition: all 0.4s ease;
}
.sliderbar.active .profile_content .profile{
    background: #1d1b31;
}
.profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}
.sliderbar.active .profile .profile_details{
    opacity: 1;
    pointer-events: auto;
}
.profile .profile_details img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}
.profile .profile_details .name_job{
    margin-left: 10px;
}
.profile .profile_details .name{
    font-size: 15px;
    font-weight: 400;
}
.profile .profile_details .job{
    font-size: 12px;
}
.profile #log_out{
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.4s ease;
    background: #1d1b31;
    color: rgb(255, 255, 255);
}
.sliderbar.active .profile #log_out{
    left: 88%;
}
.sliderbar.active .profile #log_out{
    background: none;
}
.home_content{
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
    overflow: auto;
}
.home_content .text{
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin: 12px;
}
.sliderbar.active ~ .home_content{
    width: calc(100% - 240px);
    left: 240px;
}
.home_content{
    background: #f3f3f3;
}
.home{
    background: #f3f3f3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
article{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: stretch;
    justify-content: space-around;
    width: 30%;
    height: 200px;
    margin: 12px;
    color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-size: 30px;
}
article a{
    color: white;
}
.section_link{
    width: 100%;
    height: 15%;
    background: #0000002e;
    text-align: center;
    align-self: flex-end;
    font-size: 20px;
    line-height: 25px;
    
}
.article_content_1{
    background: 	#3CB371;
}
.article_content_1 i{
    text-align: center;
}


.article_content_2{
    background: #2e77ae;
}
.article_content_3{
    background: #d42b2b;

}
.article_content_3, .article_content_1 {
    position: relative;
}
.article_content_3 a, .article_content_1 a {
    position: absolute;
    width: 100%;
    height: 100%;
}
.article_content_4{
    background: #ff8e2b;
}
a{
    color: black;
}
@media (min-width:992px) {
    .sliderbar #btn{
        cursor: pointer;
    }
}
@media (max-width: 768px) {
    .article_content_3{
        order: -1;
    }
    .article_content_4{
        display: none;
    }
    article{
        width: 80%;
        font-size: 20px;
    }
}