/* el body chaval */
body {
    background-color: #f6f6f6;
}

.breadcrumbs {
    padding: 10px 10px 10px 0;
}
.breadcrumbs-item {
    display: inline-block;
}
.breadcrumbs-link {
    color: rgb(43, 42, 42);
}
.breadcrumbs-item:not(:last-of-type)::after {
    content: ">";
    margin: 0 5px;
    color: rgb(0, 0, 0);
    font-weight: 700;
}
.breadcrumbs-link:hover {
    color: rgb(0, 0, 0);
    font-weight: 700;
}
#jumpstore-product {
    margin-bottom: 100px;
}
/* images */
/* Slideshow container */
.splide__arrows i {
    color: #ffffff;
    font-size: 35px;
    filter: drop-shadow(2px 4px 6px black);
}
.splide__arrow {
    background-color: transparent !important;
}
.splide__arrow--prev {
    left: 10px  !important;
}
.splide__arrow--next {
    right:10px  !important;
}
.splide__arrow svg {
    height: 1.8em !important;
    width: 1.8em !important;
}
.splide__pagination__page {
    background: #000 !important;
    width: 10px !important;
    height: 10px !important;
}
.splide__pagination__page.is-active {
    background: #797979 !important;
}
#img-product img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#description-product h1 {
    font-size: 8vw;
    margin: 30px 0 0 0;
    text-transform: uppercase;
}
.product-price {
    display: flex;
    align-items: center;
    margin: 30px 0;
}
.product-price .oldPrice {
    text-decoration: line-through;
}
#description-product .product-price p {
    font-weight: 500;
    font-size: 8vw;
    margin: 0;
    width: 50%;
}
#description-product .product-price p.oldPrice {
    font-size: 6vw;
    font-weight: 400;
}
#description-product .product-cuotas button p {
    font-size: 22px;
    margin-bottom: 30px;
    margin-top: 0;
}
#description-product .product-cuotas button {
    text-decoration: underline;
    background-color: transparent;
    border: none;
}
.product-talle select {
    outline: none;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    background-color: #f5f5f5;
}
.product-carrito {
    padding: 5% 0;
    display: flex;
    align-items: center;
}
.field.login {
    width: 80%;
}
.field.login button {
    margin: 0 auto;
    width: 100%;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transition: background-color 0.3s;
}

.field.login p {
    text-decoration: none;
    color: inherit;
    margin: 0;
}
.field.fav {
    margin-left: 5%;
}
.field.fav button{
    border-radius: 50%;
}
.field.fav  button i {
    font-size: 20px;
    padding: 5px 2px;
}
.field.login button:hover  {
    background-color: #3f3f41;
}
.field.fav button:hover  {
    color: #f32929;
}
.product-details {
    position: relative;
}
.product-details .jumpstore-arrow {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    top: 18px;
    right: 2px;    
    border: none;
    background-color: transparent;
}
.product-details .jumpstore-arrow:focus {
    background-color: transparent;
}
.product-details .panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.product-details h3 {
    padding-top: 15px;
    border-top: 1px solid #ccc;
    margin: 0;
}
.product-details p {
    text-align: justify;
    line-height: 25px;
}


.icons-data {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.icon-info i {
    font-size: 12vw;
    color: #1e1e1e;
}
.icon-info {
    text-align: center;
    width: 33%;
}
.icon-info.border {
    border-right:  1px solid #797979;
    border-left:  1px solid #797979;
}
.icon-info button {
    background: transparent;
    border: none;
    text-decoration: underline;
    color: #797979;
    font-size: 3.5vw;
}
.text-info p:first-of-type {
    font-weight: 600;
    height: 7vw;
    font-size: 3vw;
}



.data {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    overflow: auto;
    height: 500px;
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    line-height: 1.5;
  }
  .container-modal {
    padding: 20px;
  }
  
  /* The Close Button */
  button.close {
    color: #aaa;
    font-size: 28px !important;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


.row-product {
    margin-top: 50px;
}
.label {
    font-weight: 500;
}
.container-title p {
    margin: 0;
    font-weight: 500;
}
  

@media (max-width:767px){
    #jumpstore-page {
        width: 95%;
        margin: 5% auto;
    }
    .breadcrumbs-link, .breadcrumbs-item:not(:last-of-type)::after {
        font-size: 4vw;
    }
    .product-carrito {
        justify-content: center;
    }
    


}
@media (min-width:500px) {
    .icon-info button {
        font-size: 2.5vw;
    }
    .text-info p:first-of-type {
        font-size: 3vw;
    }
    #description-product h1 {
        font-size: 6vw;
    }
    #description-product .product-price p {
        font-size: 6vw;
        width: 30%;;
    }
    #description-product .product-price p.oldPrice {
        font-size: 4vw;
    }
}
@media (min-width:768px) {
    #jumpstore-page {
        margin: 2% auto;
    }
    #content-page {
    display: flex;
    }
    #img-product {
        width: 54%;
    }
    #img-product .mySlides img {
        object-fit: cover;
        transition: 0.5s;
        height: 360px;
    }
    #description-product{
        width: 40%;
        margin: 0 0 0 10%;
    }
    #description-product h1 {
        font-size: 30px;
    }
    #description-product .product-price p {
        font-size: 28px;
        width: 35%;
    }
    #description-product .product-price p.oldPrice {
        font-size: 20px;
    }
    .product-talle select {
        cursor: pointer;
    }
    .icons-data {
        margin-top: 90px;
        display: flex;
        justify-content: space-around;
    }
    .data {
        overflow: none;
    }
    .modal-content {
        margin: 5% auto; /* 15% from the top and centered */
        width: 30%;
    }
    .modal-content.talles-data {
        margin: 5% auto;
        width: 75%;
      }

    .icon-info {
        display: flex;
    }
    .icon-info button {
        font-size: 18px;
    }
    .text-info p:first-of-type {
        font-size: 16px;
    }

    .icon-info i {
        font-size: 40px;
        width: 40%;
    }
    .text-info {
        width: 40%;
    }
    .text-info p:first-of-type {
        height: 50px;
        margin: auto;
    }
    .row-product {
        display: flex;
        flex-wrap: wrap;
    }
    .attribute-values {
        flex: 0 0 50%;
        max-width: 50%;
    }

}
@media (min-width:768px) and (max-width:991px) {
    #description-product h1 {
        font-size: 20px;
        margin-top: 10px;
    }
    #description-product .product-price p {
        font-size: 15px;
    }
    #description-product .product-price p.oldPrice {
        font-size: 12px;
    }
    
    #description-product .product-cuotas button p {
        font-size: 15px;
        margin-bottom: 20px;
        margin-top: 0;
    }
    .product-talle select {
        height: 30px;
    }
    .field.login button  {
        height: 35px;
    }
    .field.login p {
        margin: 0;
    }
    .product-talle select, .field.login button {
        font-size: 13px;
    }
    .field.fav button i {
        font-size: 15px;
    }
    .product-details .jumpstore-arrow {
        top: 12px;
    }
    .product-details h3 {
        padding-top:12px;
        font-size: 16px;
    }
    
}
@media (min-width:992px) and (max-width:1199px) {
    #description-product h1 {
        font-size: 25px;
        margin-top: 10px;
    }
}
@media (min-width:992px) {
    #img-product .mySlides img {
        height: 400px
    }
}
@media (min-width:1200px) {
    #img-product .mySlides img {
        height: 500px
    }
}
@media (min-width:992px) {
    .icon-info i {
        font-size: 60px;
    }
}


