body {
    margin: 0;
    background-color: #f6f6f6;
    font-family: system-ui;
}

main {
    margin: 0 auto;
    position: relative;
    z-index: 99;
}

.carousel {
    width: 90%;
    margin: auto;
}
.splideHome {
    position: relative;
    margin: 40px auto;
    width: 100%;
}
.splideHome .splide__slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.splideHome .splide__slide{
    height: 250px !important;
}


.splideHome .splide__pagination {
    bottom: 1.5em;
}
.splideHome .splide__pagination__page {
    background: #3d3939;
    height: 6px;
    width: 24px;
    margin: 0px 12px;
    border-radius: 2px;
}

.splideHome .splide__pagination__page.is-active {
    background: #fff;
    box-shadow: black 0 0 10px 2px;
}
.splideHome .arrow-splide i {
    filter: drop-shadow(2px 0 8px rgb(255, 255, 255));
}

.container-muestra{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;

}

.ul-muestra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
.ul-muestra li {
    overflow:hidden;
    position: relative;
}
.ul-muestra li img{
    width: 396px;
    height: 490px;
    object-fit: cover;
    filter: brightness(0.7) blur(1px);
    transition: all 0.8s ease;
}
.ul-muestra li img:hover{
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}
.texto-muestra{
    position: absolute;
    z-index: 1;
    top: 35%;
    font-weight: 400;
    font-family: system-ui;
    left: 0;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 4px;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}



.gifcard-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 75px;
    padding: 15px;
    background: #140000f2;
}
.gifcard{
    width: 90%;
    height: 100%;
}
.slider-logos {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}


#lo-mas-hot {
    font-size: 40px;
    margin-top: 40px;
    text-align: center;
}

#lo-mas-hot:last {
    color: #00f;
}

.image{
    transition: all 0.5s ease;
    border-radius: 2%;
    height: 98%;
}
.image:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.container-new a:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.image:hover img {
    filter: opacity(0.8);
    
}

.container-hot img {
    max-width: 280%;
    max-height: 220px;
    border-radius: 2%;
    padding: 10px;
}
.description-product {
    font-size: 22px;
    font-family: system-ui;
    margin-top: 30px;
    text-align: center;
    color: rgba(0, 0, 0, 0.774);
}
.image__title{
    align-self: center;
    height: 50px;
    font-size: 20px;
}
.image__description{
    font-size: 25px;
    font-weight: bold;
    color: black;
}


/* Zoom In #1 */

.wrapper {
    margin: 50px auto 40px auto;
}

h1 {
    display: block;
    font-size: 23px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px;
    letter-spacing: 2px;
    transition: all .25s;
    text-align: center;
    text-transform: uppercase;
}


.brands {
    background: rgba(7, 7, 7, 0.1);
    margin-bottom: 50px;
}
.brands-flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.brandImage-container {
    width: 20%;
    margin: 30px 0;
}
.brandImage-container:hover {
    filter: opacity(0.8);
}
.container-new {
    width: 50%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.container-new img {
    border-radius: 2%;
    padding: 10px;
}

.container-splide {
    margin-bottom: 50px;
}
.splide .splide__slide {
    margin: 0 1% !important;
    height: 20rem;
}


.container-splide img {
    width: 100%;
    margin: 0 auto;
    height: 50%;
    object-fit: cover;
}

@media (max-width: 767px) {
    .ul-muestra{
        flex-direction: column;
    }
    .texto-muestra{
        font-size: 6vw;
        left: 0;
        text-align: center;
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
    .ul-muestra li{
        margin: 0 0 50px 0;
    }
    .ul-muestra li:last-of-type {
        margin: 0;
    }
    .ul-muestra li img{
        height: 90vw;
        width: 70vw;
        border-radius: 5px;
   }
    .wrapper {
        width: 100%;
        position: relative;
        margin: 8vw 0 6vw 0;
    }
    h1:hover {
        letter-spacing: 2px;
    }
    .gifcard-container{
        height: 60vw;
        padding: 7px;
        margin-bottom: 2vw;
    }
    .gifcard{
        width: 100%;
    }
    .container-hot {
        flex-direction: column;
        width: 80%;
        height: 520px;
        margin-bottom: 50px;
    }
    .container-hot img{
        max-height: 190px;
    }

}
@media (min-width: 500px){
    .splide .splide__track {
        height: 350px !important;
    }
    .container-splide img {
        height: 50%;
    }
    .splideHome .splide__slide{
        height: 300px !important;
    }
    .splideHome .splide__pagination__page {
        height: 8px;
        width: 50px;
        margin: 0 20px;
        border-radius: 2px;
    }
    .splideHome .arrow-splide {
        background-color: transparent !important;
    }
    .splideHome .arrow-splide i{
        font-size: 35px;
    }
}

@media (min-width: 768px){
    body {
        background-color: #ffffff;
    }
    
    .splide .splide__slide {
        height: 25rem;
    }

    .splideHome .splide__slide{
        height: 400px !important;
    }
    .container-new {
        display: none;
    }

    .gifcard-container{
        display: flex;
        justify-content: center;
        height: 250px;
    }
    .texto-muestra {
        font-size: 27px;
        left: 9%;
        width: 85%;
    }
    .ul-muestra {
        display: flex;
        justify-content: space-between;
    }
    .ul-muestra li {
        position: relative;
        width: 32%;
        text-align-last: center;
    }
    .img-cont {
        position: relative;
        overflow: hidden;
        width: 100%;
    }
    .ul-muestra li img {
        height: 390px;
        width: 100%;
    }

    .brands-flex{
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;  
        width: 90%;
        margin: 0 auto;
    }
    .brandImage-container {
        width: 10%;
    }

    .container-splide {
        width: 80%;
        margin: 0px auto 80px;
        text-align: center;
        text-align: -webkit-center;
    }
    .splide .arrow-splide {
        background-color: transparent !important;
    }
    .container-splide  .arrow-splide-prev{
        left: -8%;
    }
    .container-splide  .arrow-splide-next{
        right: -8%;
    }


}

@media (min-width: 992px){
    
    .ul-muestra li img {
        height: 450px;
    }
    .gifcard-container{
        height: 350px;
    }
    .splideHome .splide__slide{
        height: 500px !important;
    }
    .container-splide {
        width: 85%;
    }
    .splide .splide__track {
        height: 400px !important;
    }
    .splide .arrow-splide i {
        font-size: 35px;
    }
    .container-splide  .arrow-splide-prev{
        left: -5%;
    }
    .container-splide  .arrow-splide-next{
        right: -5%;
    }
    
}
@media (min-width: 1200px){
    .container-splide  .arrow-splide-prev{
        left: -10%;
    }
    .container-splide  .arrow-splide-next{
        right: -10%;
    }
}
@media (min-width: 1400px){
    .ul-muestra li img {
        height: 550px;
    }
}