<footer id="jumpstore-footer">
    <a class="button-scroll">
        <i class="fas fa-angle-down"></i>
    </a>
    <div class="black-area">

        <div class="container">

            <div class="footer">
                <div class="footer-col">
                    <div class="footer-title">Jumpstore</div>
                    
                    <ul class="panel">
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/sneakers/OrderByReleaseDateDESC">Productos</li></a>
                        <li><a href="/">Ofertas</a></li>
                    </ul>
                    
                </div>
                <div class="footer-col">
                    <div class="footer-title">Información</div>
                    
                    <ul class="panel">
                        <li><a href="/terminos-y-condiciones">Términos y condiciones</a></li>
                        <li><a href="/quienes-somos">Quienes somos</a></li>
                        <li><a href="/formas-de-pago">Formas de pago</a></li>
                    </ul>
                    
                </div>
                <div class="footer-col">
                    <div class="footer-title">Redes</div>
                    
                    <ul class="panel">
                        <li><a href="/">Instagram</a></li>
                        <li><a href="/">Twitter</a></li>
                        <li><a href="/">Facebook</a></li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="black-area-mobile">

        <div class="container">

            <div class="footer">
                <div class="footer-col">
                    <div class="footer-title">Jumpstore</div>
                    <button class="jumpstore-arrow"><i class="fas fa-angle-down"></i></button>
                    <ul class="panel">
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/sneakers/OrderByReleaseDateDESC">Productos</li></a>
                        <li><a href="/">Ofertas</a></li>
                    </ul>
                    <hr>
                </div>
                <div class="footer-col">
                    <div class="footer-title">Información</div>
                    <button class="jumpstore-arrow"><i class="fas fa-angle-down"></i></button>
                    <ul class="panel">
                        <li><a href="/terminos-y-condiciones">Términos y condiciones</a></li>
                        <li><a href="/quienes-somos">Quienes somos</a></li>
                        <li><a href="/formas-de-pago">Formas de pago</a></li>
                    </ul>
                    <hr>
                </div>
                <div class="footer-col">
                    <div class="footer-title">Redes</div>
                    <button class="jumpstore-arrow"><i class="fas fa-angle-down"></i></button>
                    <ul class="panel">
                        <li><a href="https://www.instagram.com/javiermilei/" target="_blank">Instagram</a></li>
                        <li><a href="/">Twitter</a></li>
                        <li><a href="/">Facebook</a></li>
                    </ul>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="grey-area">
        <div class="container">
            <div id="footer-copyright">
                <ul>
                    <li>Copyright © 2021 Jumpstore. All rights reserved.</li>
                    <li class="footer-separator">|</li>
                    <li><a href="/politicas-de-privacidad">Políticas de Privacidad</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>