<header class="main-header">

    <div  id="jumpstore-header">

        <div class="container">

            <div class="row">

                <div id="jumpstore-header-flex">

                    <div class="jumpstore-search-mobile">
                        <form action="/search" method="GET" id="jumpstore-box-mobile">
                            <div class="form-search">
                                <button  type="submit" class="btn-buscar">
                                    <i class="fas fa-search"></i>
                                </button>
                                <input class="fulltext-search-box" type="text" name="keywords" placeholder="Buscar">
                            </div>
                        </form>
                        <button class="closebtn">&times;</button>
                    </div>

                    <div id="jumpstore-menu-mobile">
                        <button class="btn-menu">
                            <i class="fas fa-bars"></i>
                        </button>
                    </div>

                    <div id="jumpstore-logo">
                        <a href="/">
                            <img src="/images/logo/jumpstore logo.png" alt="logo desktop" class="logo">
                        </a>
                    </div>

                    <div id="jumpstore-search">
                        <form action="/search" method="GET" id="jumpstore-box">
                            <input class="fulltext-search-box" type="text" name="keywords" placeholder="Buscar">
                            <button  type="submit" class="btn-buscar">
                                <i class="fas fa-search"></i>
                            </button>
                        </form>
                    </div>
                    <div id="jumpstore-right-menu"> 
                        <div id="jumpstore-user">
                            <button> <i class="far fa-user"></i> </button>
                            <div class="dropdown-padding">
                                <div class="dropdown-content">
                                    <a href="/register">Registrarse</a>
                                    <a href="/login">Iniciar sesion</a>
                                </div>
                            </div>
                        </div>

                        <div id="jumpstore-cart">
                            <button>
                                <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>
                            </button>
                        </div>
                        
                        <div id="jumpstore-admin">
                            <button>
                                <a href="/administrator"><i class="fas fa-user-cog"></i></a>
                            </button>
                        </div>
                        <div id="jumpstore-search-btn">
                            <button>
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        
                    </div>
                    
                </div>


            </div>

        </div>

    </div>

    <nav id="jumpstore-navbar">
    <div class="container">
        <div class="row">
            <ul>
                <li><a href="/">Inicio</li></a>
                <li><a href="/sneakers/OrderByReleaseDateDESC">Productos</li></a>
                <li><a href="/">Ofertas</li></a>
                <li><a href="/">Favoritos</li></a>
            </ul>
        </div>
    </div>
    </nav>

</header>