<div id="opacity-mobile"></div>
<nav id="jumpstore-navbar-mobile" class="sidenav">
    
    <div class="overlay-content">
        <div class="search-close">
            <button class="closebtn-overlay">&times;</button>
        </div>


        <ul class="links">
            <li><a href="/">Inicio</li></a>
            <li><a href="/sneakers/OrderByReleaseDateDESC">Productos</li></a>
            <li><a href="/">Ofertas</li></a>
            <li><a href="/">Favoritos</li></a>
            <li><a href="/carrito">Carrito</li></a>
        </ul>
        
        <div class="footer-modal">
            <div class="nav-user">
                <ul>
                    <a href="/administrator" class="icon-admin"><i class="fas fa-user-cog"></i></a>
                    <li class="user-item">
                        <a href="/register">Crear Cuenta</a>
                    </li>
                    <li class="user-item">
                        <a href="/login">Iniciar Sesión</a>
                    </li>
                </ul>
    
            </div>
        </div>
    </div>

</nav>